@font-face {
    font-family: "PlusJakartaSans";
    src: url("/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}
/* couldnt figure how to properly place this img, tried playing with divs and flexbox features, no satisfying result. */
@media screen and (max-width:1400px) { 
    #chess {
        visibility: hidden;
    }
}

html {
    margin: 0;
}

body {
    background-color: aliceblue;
    font-family: "PlusJakartaSans", sans-serif;
    font-weight: 500;
}

main {
    width: 50%;
    height: 90%;
    margin: 4% 20%;
    background-color: white;
    padding: 1rem 4rem 1rem 3rem;
    border-radius: 10px;
}

#main {
    flex-direction: column;
    gap: 10px;
    display:flex;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#leftheader {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8em;
}

#countdown {
    background-color:hsl(219, 85%, 26%);
    width:2.3em;
    height:2em;
    border-radius: 25%;
}

#counter {
    color: white;
    text-align: center;
    font-weight: bold;
    position: relative;
    bottom: 0.6em;
    
}

.notification {
    width: 100%;
    background-color: aliceblue;
    border-radius: 10px;
    display:flex;
    padding-left: 1rem;
}

.notification:hover {
    cursor:pointer;
}

.content {
    padding: 5px 10px;
    color: hsl(219, 12%, 42%);
}

.text {
    display:flex;
    flex-direction: column;
}

.profileimage {
    margin-top: 10px;
    width:60px;
    height:60px;
}

.timer {
    color: grey;
    margin-top: -15px;
}

.club {
    color: hsl(219, 85%, 26%);
    font-weight: bold;
    margin-left:0.3em;
}

.club:hover {
    font-weight: 900;
    color: darkblue
}

.directmessage {
    border: 0.1px lightgrey solid;
    padding: 20px;
    margin-left: 10px;
    margin-right: 40px;
    margin-top: -10px;
    color: lightslategray;
    font-weight: 550;
}

.directmessage:hover {
    background-color: aliceblue;
}

strong {
    color:black;
    font-weight: 950;
    margin-right:0.3em;
}

strong:hover {
    color: hsl(219, 85%, 26%);
}

em {
    font-style: normal;
    margin-left:0.3em;
    font-weight: bold;
}

em:hover {
    color:hsl(219, 85%, 26%);
    font-weight: 900;
}

#chess {
    width:50px;
    height:50px;
    position: absolute;
    right: 34.5em;
    bottom: 11em;

}

.redcircle {
  margin-left:0.3em;
  height: 0.5em;
  width: 0.5em;
  background-color: orangered;
  border-radius: 50%;
  display: inline-block;
}

.read {
    background-color: white;
}

#allread:hover {
    cursor: pointer;
}


#img {
    width:100%;
    display:flex;
    justify-content: space-between;
}
