@font-face {
    font-family: "PlusJakartaSans";
    src: url("/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}
html {
    margin: 0;
}

body {
    background-color: peachpuff;
    font-family: "PlusJakartaSans", sans-serif;
}

main {
    width: 60%;
    height: 90%;
    margin: 4% 20%;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
}

#main {
    flex-direction: column;
    gap: 10px;
    display:flex;
}

header {
    display:flex;
    justify-content: space-between;
}

.notification {
    width: 100%;
    background-color: aliceblue;
    border-radius: 10px;
    display:flex;
    padding-left: 1rem;
}

.profileimage {
    width:60px;
    height:60px;
}

.content {
    padding: 5px 10px
}


