html {
    margin: 0;
}

body {
    background-color: peachpuff;
}

main {
    width: 70%;
    height: 90%;
    margin: 5% 12%;
    background-color: white;
    padding: 1rem 2rem;
}

header {
    display:flex;
    justify-content: space-between;
}
